extends layout

block title 
  title Login Page
block append head
  link(rel='stylesheet', href='/styles/login.css', type='text/css')

block body  
  main.form-login
    if errors
      div.p-2.alert.alert-danger
        h4=errors
    form(method='POST', action='/login')
      img.mb-4(src='/images/account_circle_black_24dp.svg', alt='', width='80', height='80')
      h1.h3.mb-3.fw-normal Connectez vous
      .form-floating
        input#inputEmailLogin.form-control(type='email', name='inputEmailLogin', placeholder='name@example.com')
        label(for='inputEmailLogin') Adresse Mail
      .form-floating
        input#inputPasswordLogin.form-control(type='password', name='inputPasswordLogin', placeholder='Password')
        label(for='inputPasswordLogin') Mot de Passe
      a.link-primary(href='/new_account') Pas encore de compte ? Inscrit toi.
      button.w-100.btn.btn-lg.btn-primary(type='submit', value='Login') Connexion